<!DOCTYPE html>
<html lang="en">

<head>
  <title>ansert</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style media="screen">
        .oMang {
            border: 1px solid rgb(8, 151, 242);
            width: 100%;
        }
        .user_login{
          display: none;
        }
    </style>
</head>

<body>
    <% include heard %>
        <nav class="container">
            <div class="col-sm-8">

                <h2><span class="q_title" Qid=<%= data._id %>><%= data.title %></span></h2>
                <button type="button" class="btn btn-primary"><span>标签</span></button>
                <button type="button" class="btn btn-success"><span>标签</span></button>
                <button type="button" class="btn btn-info"><span>标签</span></button>
                <button type="button" class="btn btn-warning"><span>标签</span></button>
                <button type="button" class="btn btn-danger"><span>标签</span></button>
                <hr />

                <% if(User_col == 'yes'){ %>
                    <button id="sub-collect" type="button" class="btn btn-info col">已收藏</button>
                <% }else{ %>
                    <button id="sub-collect" type="button" class="btn btn-info col">收藏</button>
                <% } %>

                <% if(User_F == 'yes'){ %>
                    <button id="sub-collect" type="button" class="btn btn-info guanzhu">已关注</button>
                <% }else{ %>
                    <button id="sub-collect" type="button" class="btn btn-info guanzhu">关注</button>
                <% } %>

                <button id="sub-niu" type="button" class="btn btn-danger zan">赞&nbsp;<span style="color:orange">i.be_liked_num</span></button>
                <span class="user_login">请先登录</span>

                <hr />
                <p><%= data.content %></p>
                <p><span><%= time %></span>&nbsp;&nbsp;<span class="q_author"><%= data.author %></span>&nbsp;&nbsp;<span>提出</span>&nbsp;&nbsp;<span><a href="#">更多</a></span></p>
                <hr />
                <h4><span><%= data1.length %></span>个<span>答案</span><a class="btn btn-default pull-right moren_sort" type="submit" href='/answer?value=<%= data._id %>&time=<%= time %>'>默认排序</a><a class="btn btn-default pull-right time_sort" href='/sort_time' type="submit">时间排序</a></h4>

                <hr style="border-top:2px solid lightgray;" />

                <ul class="list-group" style='padding:0px';>
                <% data1.forEach(function(foin){ %>
                  <li class="list-group-item" style='margin-bottom:5px;'>
                  <div>
                    <p><%= foin.content %></p>
                  </div>
                  <hr><div style="width:100%;height:34px;">
                        <% if(data.author == user){ %>
                          <% if(!foin.adopted){ %>
                            <button type="button" Aid=<%= foin._id %> class="btn btn-danger caina"><span>采纳</span></button>
                          <% } %>
                        <% } %>
                        <% if(foin.adopted){ %>
                          <button type="button" class="btn btn-success"><span>已被采纳</span></button>
                        <% } %>

                        <div class="pull-right">
                          <span><a href="#"><%= foin.respondent %></a></span>
                          <span><%= foin.date %></span>&nbsp;&nbsp;<span>回答</span>
                        </div>
                    </div>
                </li>
                <% }) %>
              </ul>

                <hr />
                <h4>撰写答案</h4>
                <form class="sub-a" action="/answer" method="post">

                <textarea id="sub-a-con" name="content" rows="8" cols="90%" ></textarea>
                <br>
                <button  id="sub-a-btn" class="btn btn-primary" type="submit">提交</button>
              </form>
            </div>
            <div class="col-sm-4">
              <br><br>
              <h4>问题达人 <span class='pull-right' > 问题数量</span></h4>
              <% Q_number1.forEach(function(foin){ %>
              <hr />
              <p><span><a href="/personal"><%= foin.account %></a></span><span style="float:right" class="badge"><%= foin.Q_number %></span></p>
              <% }) %>
              <hr />
              <br><br>
              <h4>回答达人 <span class="pull-right">回答数量</span></h4>
              <% A_number1.forEach(function(foin){ %>

              <hr />
              <p><span><a href="/personal"><%= foin.account %></a></span><span style="float:right" class="badge"><%= foin.A_number %></span></p>
              <% }) %>
            </div>
        </nav>
        <% include footer %>
        <script>
        $(function(){
          $('.caina').click(function(){
            $(this).removeClass('btn-danger').addClass('btn-success');
            $(this).children('span').text('已被采纳');
            $.ajax({
              type:'GET',
              url:'/panduan',
              data:{name:'caina',Aid:$(this).attr('Aid'),Qid:$('.q_title').attr('Qid')},
              dataType:'json',
            });
          });

        $('.col').click(function(){
          $.ajax({
            type:'GET',
            url:'/panduan',
            data:{name:'col',Qid:$('.q_title').attr('Qid'),Qtitle:$('.q_title').text(),Qauthor:$('.q_author').text()},
            dataType:'json',
            success:function(data,status){
              if(data == 'ok'){
                $('.col').text('已收藏');
              }else{
                $('.user_login').css('display','inline');
              }
            }
          });
        });

        $('.guanzhu').click(function(){
          $.ajax({
            type:'GET',
            url:'/panduan',
            data:{name:'guanzhu',Qauthor:$('.q_author').text()},
            dataType:'json',
            success:function(data,status){
              if(data == 'ok'){
                $('.guanzhu').text('已关注');
              }else{
                $('.user_login').css('display','inline');
              }
            }
          });
        });

      $('.time_sort').click(function(){
        $(this).addClass('active');
        $('.moren_sort').removeClass('active');
      })

      $('.moren_sort').click(function(){
        $(this).addClass('active');
        $('.time_sort').removeClass('active');
      })

      });
        </script>
</body>

</html>
