<!DOCTYPE html>
<html lang="en">

<head>
  <title>ansert</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style media="screen">
        .oMang {
            border: 1px solid rgb(8, 151, 242);
            width: 100%;
        }
    </style>
</head>

<body>
    <% include heard %>
        <nav class="container">
            <div class="col-sm-8">

                <h2><span class="q_title" Qid=<%= data._id %>><%= data.title %></span></h2>
                <button type="button" class="btn btn-primary"><span>标签</span></button>
                <button type="button" class="btn btn-success"><span>标签</span></button>
                <button type="button" class="btn btn-info"><span>标签</span></button>
                <button type="button" class="btn btn-warning"><span>标签</span></button>
                <button type="button" class="btn btn-danger"><span>标签</span></button>
                <hr />

                <button id="sub-collect" type="button" class="btn btn-info">收藏</button>
                <button id="sub-focus" type="button" class="btn btn-success">关注</button>
                <button id="sub-niu" type="button" class="btn btn-danger">赞&nbsp;<span style="color:orange">i.be_liked_num</span></button>

                <hr />
                <p><%= data.content %></p>
                <p><span><%= time %></span>&nbsp;&nbsp;<%= data.author %>&nbsp;&nbsp;<span>提出</span>&nbsp;&nbsp;<span><a href="#">更多</a></span></p>
                <hr />
                <h4><span><%= data1.length %></span>个<span>答案</span><button class="btn btn-default pull-right" type="submit">默认排序</button><button class="btn btn-default pull-right" type="submit">时间排序</button></h4>

                <hr style="border-top:2px solid lightgray;" />

                <ul class="list-group" style='padding:0px';>
                <% data1.forEach(function(foin){ %>
                  <li class="list-group-item" style='margin-bottom:5px;'>
                  <div>
                    <p><%= foin.content %></p>
                  </div>
                  <hr><div style="width:100%;height:34px;">

                        <% if(data.author == user){ %>
                          <% if(!foin.adopted){ %>
                            <button type="button" Aid=<%= foin._id %> class="btn btn-danger caina"><span>采纳</span></button>
                          <% } %>
                        <% } %>
                        <% if(foin.adopted){ %>
                          <button type="button" class="btn btn-success"><span>已被采纳</span></button>
                        <% } %>

                        <div class="pull-right">
                          <span><a href="#"><%= foin.respondent %></a></span>
                          <span><%= foin.date %></span>&nbsp;&nbsp;<span>回答</span>
                        </div>
                    </div>
                </li>
                <% }) %>
              </ul>

                <hr />
                <h4>撰写答案</h4>
                <form class="sub-a" action="/answer" method="post">

                <textarea id="sub-a-con" name="content" rows="8" cols="80%" ></textarea>
                <br>
                <button  id="sub-a-btn" class="btn btn-primary" type="submit">提交</button>
              </form>
            </div>
            <div class="col-sm-4">
              <br><br>
              <h4>问题达人</h4>
              <hr />
              <p><span><a href="#">爱你没烦恼</a></span><span style="float:right" class="badge">200</span></p>
              <p><span><a href="#">爱你没烦恼</a></span><span style="float:right" class="badge">200</span></p>
              <p><span><a href="#">爱你没烦恼</a></span><span style="float:right" class="badge">200</span></p>
              <p><span><a href="#">爱你没烦恼</a></span><span style="float:right" class="badge">200</span></p>
              <hr />
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                </ul>
            </div>
        </nav>
        <% include footer %>
        <script>
          var socket = io();
          var dat;
          var collect = Boolean;
          var focus = Boolean;
          var niu = Number;

          // socket.on('getdata','数据');
          console.log($('#sub-a-con').val());
          $('#sub-a-btn').click(function(){
            dat = $('#sub-a-con').val();
            socket.emit('sub-a1',dat);
            socket.on('sub-a2',function(data){
              console.log(data);
            });
          });

          $('#sub-collect').click(function(){
          if (collect = true) {
              collect = false;
              console.log($('#sub-collect').text());
              $('#sub-collect').text('已收藏');
            }else if (collect = false) {
              collect = true;
              $('#sub-collect').text('收藏');
            }
            socket.emit('sub-collect0',collect);
          });
          $('#sub-focus').click(function(){
            if (focus = true) {
              focus = false;
              $('#sub-focus').text('已关注');
            }else if (focus = false) {
              focus = true;
              $('#sub-focus').text('关注');
            }
            socket.emit('sub-focus0',focus);
          });
          $('#sub-niu').click(function(){
            niu = niu++;
            socket.emit('sub-niu',niu);
          });

          $('.caina').click(function(){
            $(this).removeClass('btn-danger').addClass('btn-success');
            $(this).children('span').text('已被采纳');
            $.ajax({
              type:'GET',
              url:'/panduan',
              data:{name:'caina',Aid:$(this).attr('Aid'),Qid:$('.q_title').attr('Qid')},
              dataType:'json',
            });
          });

        </script>
</body>

</html>
